name: isodatetime Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: [3.8, 3.8, 3.8, 3.8, 3.9]
        include:
          - os: ubuntu-latest
            python-version: 3.8
            env: TZ=XXX-05:30
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        pip install -e .[all]
        pip install pytest-xdist pycodestyle

    - name: Lint with flake8
      run: flake8 metomi/isodatetime

    - name: Run tests
      env:
        RUN_COVERAGE: ${{ matrix.python-version == '3.8' && matrix.os == 'ubuntu-latest' }}
      run: |
        PYTEST_ARGS=('-n' '2')
        if [ "$RUN_COVERAGE" = "true" ]; then
          PYTEST_ARGS+=('--cov=metomi/isodatetime')
        fi

        pytest "${PYTEST_ARGS[@]}" &
        TEST_PID="$!"
        minutes=0
        limit=50
        while ps -p "${TEST_PID}" >/dev/null 2>&1; do
          echo -n -e " \b"
          if ((minutes == limit)); then
            exit 1
          fi
          minutes=$((minutes + 1))
          sleep 60
        done
        wait "${TEST_PID}"

    - name: Upload coverage to Codecov
      if: matrix.python-version == '3.8' && matrix.os == 'ubuntu-latest'
      run: |
        coverage xml --ignore-errors
        bash <(curl -s https://codecov.io/bash)
