name: Python package

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: [3.8, 3.8, 3.8, 3.8, 3.8, 3.9, pypy-3.6-3.8, pypy-3.6-3.8]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Cache Hypothesis directory
      uses: actions/cache@v2
      with:
        path: ${{ env.HYPOTHESIS_STORAGE_DIRECTORY }}
        key: ${{ runner.os }}-hypothesis-${{ matrix.python-version }}
        restore-keys: |
          ${{ runner.os }}-hypothesis-

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade --upgrade-strategy only-if-needed pytest pytest-catchlog
        pip install .

    - name: Run tests
      run: |
        pytest

    env:
      HYPOTHESIS_STORAGE_DIRECTORY: ${{ github.workspace }}/.hypothesis

  notifications:
    email:
      on_success: change
      on_failure: always
