name: CI

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.8, 3.8]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        sudo apt-get -qq update
        sudo apt-get install -y libicu-dev
        pip install -e .
        pip install pyicu coverage nose twine

    - name: Run tests
      run: |
        nosetests --with-coverage --cover-package=fingerprints --cover-erase

    - name: Build and publish
      if: github.event_name == 'push' && github.ref == 'refs/tags/' + github.ref_name
      run: |
        python setup.py sdist bdist_wheel
        twine upload dist/*
