name: Python package

on:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ['3.8', '3.8', '3.8', '3.9']
        include:
          - python-version: '3.8'
            upload: true
          - python-version: '3.8'
            upload: false
          - python-version: '3.8'
            upload: false
          - python-version: '3.9'
            upload: false

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[test]
    - name: Run script
      run: echo hello world

  deploy:
    if: github.event_name == 'push' && github.ref_type == 'tag' && matrix.upload == true
    runs-on: ubuntu-22.04
    needs: build
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[test]
    - name: Build and publish
      env:
        TWINE_USERNAME: mara-pypi-upload-account
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python setup.py sdist
        twine upload dist/*
