name: Python package

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: [3.8, 3.8, 3.8]
        include:
          - python-version: 3.8
            env: TOXENV=cover
          - python-version: 3.8
            env: TOXENV=black

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'
    - name: Install Elm
      run: npm i -g elm
    - name: Install dependencies
      run: pip install tox-travis
    - name: Run tests
      run: tox
    - name: Upload coverage to Coveralls
      if: success()
      run: coveralls
