name: Python package

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: [3.9, 3.8, 3.8, 3.8]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y graphviz
        pip install .[test] codecov

    - name: Run tests
      run: ./run-tests.py

    - name: Upload coverage to Codecov
      if: success()
      uses: codecov/codecov-action@v2

    - name: Cleanup pip cache
      if: success()
      run: rm -f $HOME/.cache/pip/log/debug.log
