name: Python package

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        python-version: [3.8, 3.8, 3.8]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: pip install tox

    - name: Run tox
      env:
        TOXENV: ${{ steps.set-toxenv.outputs.toxenv }}
      run: |
        TOXENV=$(tox --listenvs | grep "py${{ matrix.python-version | replace('.', '') }}-" | tr '\n' ',')
        export TOXENV
        tox
