name: Python package

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8', 'pypy-3.6', '3.8', '3.8', '3.8', '3.8']

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python setup.py build sdist
        pip install -r requirements-dev.txt

    - name: Run tests
      run: nosetests --verbosity 2

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Install dependencies
      run: |
        python setup.py build sdist
        pip install -r requirements-dev.txt

    - name: Deploy to PyPI
      env:
        TWINE_USERNAME: tuxtimo
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        pip install twine
        python setup.py sdist bdist_wheel
        twine upload dist/*

    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
