name: Python package

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        python-version: [3.8, 3.8, 3.8, 3.8, 3.8, 3.8, pypy-3.6]

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install coverage
        pip install nose

    - name: Run tests
      run: coverage run --source=olefile -m nose tests

    - name: Upload coverage to Coveralls
      if: success()
      run: |
        pip install coveralls
        coveralls

    - name: Coverage report
      run: coverage report

    - name: Lint with pyflakes
      run: |
        pip install pyflakes
        pyflakes .

    - name: Lint with pycodestyle
      run: |
        pip install pycodestyle
        pycodestyle --statistics --count .
